In [17]:
import pandas as pd

In [45]:
df = pd.read_csv("data/bikes.csv")

# Assessing Data:

## Quality Issues:

- dpcapacity_end int not float

## Tidness Issues:

-

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50089 entries, 0 to 50088
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   trip_id            50089 non-null  int64
 1   usertype           50089 non-null  object
 2   gender             50089 non-null  object
 3   starttime          50089 non-null  object
 4   stoptime           50089 non-null  object
 5   tripduration       50089 non-null  int64
 6   from_station_name  50089 non-null  object
 7   latitude_start     50083 non-null  float64
 8   longitude_start    50083 non-null  float64
 9   dpcapacity_start   50083 non-null  float64
 10  to_station_name    50089 non-null  object
 11  latitude_end       50077 non-null  float64
 12  longitude_end      50077 non-null  float64
 13  dpcapacity_end     50077 non-null  float64
 14  temperature        50089 non-null  float64
 15  visibility         50089 non-null  float64
 16  wind_speed         50089 non-null  float64
 17  precipitation      50089 non-null  float64
 18  events             50089 non-null  object
dtypes: float64(10), int64(2), object(7)
memory usage: 7.3+ MB

In [47]:
df.head()

,trip_id,usertype,gender,starttime,stoptime,tripduration,from_station_name,latitude_start,longitude_start,dpcapacity_start,to_station_name,latitude_end,longitude_end,dpcapacity_end,temperature,visibility,wind_speed,precipitation,events
0,7147,Subscriber,Male,2013-06-28 19:01:00,2013-06-28 19:17:00,993,Lake Shore Dr & Monroe St,41.881050,-87.616970,11.0,Michigan Ave & Oak St,41.900960,-87.623777,15.0,73.9,10.0,12.7,-9999.0,mostlycloudy
1,7524,Subscriber,Male,2013-06-28 22:53:00,2013-06-28 23:03:00,623,Clinton St & Washington Blvd,41.883380,-87.641170,31.0,Wells St & Walton St,41.899930,-87.634430,19.0,69.1,10.0,6.9,-9999.0,partlycloudy
2,10927,Subscriber,Male,2013-06-30 14:43:00,2013-06-30 15:01:00,1040,Sheffield Ave & Kingsbury St,41.909592,-87.653497,15.0,Dearborn St & Monroe St,41.881320,-87.629521,23.0,73.0,10.0,16.1,-9999.0,mostlycloudy
3,12907,Subscriber,Male,2013-07-01 10:05:00,2013-07-01 10:16:00,667,Carpenter St & Huron St,41.894556,-87.653449,19.0,Clark St & Randolph St,41.884576,-87.631890,31.0,72.0,10.0,16.1,-9999.0,mostlycloudy
4,13168,Subscriber,Male,2013-07-01 11:16:00,2013-07-01 11:18:00,130,Damen Ave & Pierce Ave,41.909396,-87.677692,19.0,Damen Ave & Pierce Ave,41.909396,-87.677692,19.0,73.0,10.0,17.3,-9999.0,partlycloudy

In [48]:
df["dpcapacity_start"].unique()

array([11., 31., 15., 19., 27., 23., 35., 47., 43., 39., 14.,  9., 36.,
       nan, 20., 28., 16., 51.,  0., 55., 12.])

In [49]:
df["dpcapacity_end"].unique()

array([15., 19., 23., 31., 27., 35., 47., 11., 43., 39., 14.,  9., 36.,
       nan, 20., 28., 16., 51.,  0., 55.])

In [39]:
df.visibility.unique().astype(str)

array(['10.0', '7.0', '8.0', '3.0', '9.0', '6.0', '5.0', '4.0', '1.8',
       '0.5', '0.8', '2.0', '2.5', '1.0', '1.5', '1.2', '0.2', '0.1',
       '-9999.0', '0.0'], dtype='<U32')

# change Data Types

In [50]:
#convert dpcapacity_start ,dpcapacity_end data types from float to int

df["dpcapacity_start"] = df["dpcapacity_start"].astype('int',errors='ignore')
df["dpcapacity_end"] = df["dpcapacity_end"].astype('int',errors='ignore')

In [51]:
df["dpcapacity_end"].unique()

array([15., 19., 23., 31., 27., 35., 47., 11., 43., 39., 14.,  9., 36.,
       nan, 20., 28., 16., 51.,  0., 55.])

In [52]:
df["dpcapacity_start"].unique()

array([11., 31., 15., 19., 27., 23., 35., 47., 43., 39., 14.,  9., 36.,
       nan, 20., 28., 16., 51.,  0., 55., 12.])

In [61]:
df["dpcapacity_start"] = pd.to_numeric(df["dpcapacity_start"],errors='coerce')
df["dpcapacity_end"] = pd.to_numeric(df["dpcapacity_end"],errors='coerce')

In [62]:
df["dpcapacity_start"] = df["dpcapacity_start"].astype('int')
df["dpcapacity_end"] = df["dpcapacity_end"].astype('int')

ValueError: Cannot convert non-finite values (NA or inf) to integer

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50089 entries, 0 to 50088
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   trip_id            50089 non-null  int64
 1   usertype           50089 non-null  object
 2   gender             50089 non-null  object
 3   starttime          50089 non-null  object
 4   stoptime           50089 non-null  object
 5   tripduration       50089 non-null  int64
 6   from_station_name  50089 non-null  object
 7   latitude_start     50083 non-null  float64
 8   longitude_start    50083 non-null  float64
 9   dpcapacity_start   50083 non-null  float64
 10  to_station_name    50089 non-null  object
 11  latitude_end       50077 non-null  float64
 12  longitude_end      50077 non-null  float64
 13  dpcapacity_end     50077 non-null  float64
 14  temperature        50089 non-null  float64
 15  visibility         50089 non-null  float64
 16  wind_speed         50089 non-null  float64
 17  precipitation      50089 non-null  float64
 18  events             50089 non-null  object
dtypes: float64(10), int64(2), object(7)
memory usage: 7.3+ MB

In [56]:
df["dpcapacity_start"].unique()

array([11., 31., 15., 19., 27., 23., 35., 47., 43., 39., 14.,  9., 36.,
       nan, 20., 28., 16., 51.,  0., 55., 12.])

In [70]:
df = pd.DataFrame({'student_id': {0: 'a', 1: 'b', 2: 'c'},
                   'class_a': {0: 1, 1: 3, 2: 'h'},
                   'class_b': {0: 2, 1: 4, 2: 6}})

In [71]:
df

  student_id class_a  class_b
0          a       1        2
1          b       3        4
2          c       h        6

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   student_id  3 non-null      object
 1   class_a     3 non-null      object
 2   class_b     3 non-null      int64
dtypes: int64(1), object(2)
memory usage: 96.0+ bytes

In [65]:
df['class_a'] = pd.to_numeric(df['class_a'],errors='coerce')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   student_id  3 non-null      object
 1   class_a     2 non-null      float64
 2   class_b     3 non-null      int64
dtypes: float64(1), int64(1), object(1)
memory usage: 96.0+ bytes

# apply function

In [72]:
# create new column from visibility column (apply function)
df = pd.read_csv("data/bikes.csv")
df.columns

Index(['trip_id', 'usertype', 'gender', 'starttime', 'stoptime',
       'tripduration', 'from_station_name', 'latitude_start',
       'longitude_start', 'dpcapacity_start', 'to_station_name',
       'latitude_end', 'longitude_end', 'dpcapacity_end', 'temperature',
       'visibility', 'wind_speed', 'precipitation', 'events'],
      dtype='object')

In [83]:
# >=5 "good"
#<5 "Bad"
def calculate_visibility(val):
    return "Good" if val >= 5 else "Bad"

df["visibility_case"] = df["visibility"].apply(lambda row:calculate_visibility(row))
df[["visibility","visibility_case"]].sort_values(by='visibility')

       visibility visibility_case
29309     -9999.0             Bad
49887     -9999.0             Bad
29310     -9999.0             Bad
49888     -9999.0             Bad
29308     -9999.0             Bad
...           ...             ...
17602        10.0            Good
17603        10.0            Good
17604        10.0            Good
17606        10.0            Good
50088        10.0            Good

[50089 rows x 2 columns]

In [84]:
df.columns

Index(['trip_id', 'usertype', 'gender', 'starttime', 'stoptime',
       'tripduration', 'from_station_name', 'latitude_start',
       'longitude_start', 'dpcapacity_start', 'to_station_name',
       'latitude_end', 'longitude_end', 'dpcapacity_end', 'temperature',
       'visibility', 'wind_speed', 'precipitation', 'events',
       'visibility_case'],
      dtype='object')