# Tidying

In [1]:
import pandas as pd

In [2]:
pc = pd.read_csv('data/tidy/average_arrival_delay.csv')
pc.head(3)

  airline  ATL   DEN  DFW   IAH   LAS  LAX  MSP   ORD   PHX  SFO
0      AA  4.0   9.0  5.0  11.0   8.0  3.0  1.0   8.0   5.0  3.0
1      AS  6.0  -3.0 -5.0   1.0   2.0 -3.0  6.0   2.0  -9.0  4.0
2      B6  NaN  12.0  4.0   NaN  11.0  2.0  NaN  23.0  20.0  5.0